input:focus {
    outline: none;
}

.input-search {
    padding-left: 15px;
    width: 84%;
    height: 100%;
    background: none;
    border: none;
    font-size: 45px;
    color: var(--app-brown);
}

.input-search:focus {
    border: none;
}

.sign-in-form {
    margin-bottom: 30px;
    width: 100%;
}

.sign-form-line {
    width: 100%;
    position: relative;
}

.sign-in-form-item {
    width: 100%;
    height: 100px;
    font-size: 45px;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: var(--shadow-input);
    color: var(--app-brown);
}

.sign-in-buttons {
    margin-bottom: 100px;
    box-sizing: border-box;
}

.sign-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--app-orange);
    border-radius: 75px;
    font-size: 45px;
    color: white;
    margin-bottom: 50px;
    box-shadow: var(--shadow-button);
}

.button-filter {
    margin-left: 25px;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.filter {
    height: 70px;
}

.reg-form-line {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 60px;
    width: 100%;
    position: relative;
}

.personal-data-form-line {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

label input[type=file]{
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

input[type=email]:invalid {
    background-color: var(--app-invalid-input);
}

input::placeholder {
    background-color: none;
}

.get-photo-block {
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
    background-color: var(--app-light-grey);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-photo-block > img {
    height: 50%;
}

.get-photo-block > #pet-form-uploaded-photo {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;   
}

.pet-reg-name-block {
    margin-left: 8%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-reg-input-name {
    width: 400px;
    height: 70px;
    font-size: 50px;
    border: none;
    border-bottom: 5px solid var(--app-brown);
}

.pet-reg-input-name:focus {
    border-bottom: 5px solid var(--app-orange);
}

.form-emoji {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 10%;
    margin: 10px 30px 10px 20px;
}

.form-emoji-text {
    color: white;
    font-size: 6vw;
    text-align: center;
}

.pet-reg-date {
    -webkit-appearance: none;
}

.pet-reg-date::placeholder {
    color: white;
    
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 30px;
}

.reg-form-input {
    box-sizing: border-box;
    height: 100px;
    width: 90%;
    padding: 0px 0px 0px 30px;
    font-size: 40px;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    box-shadow: var(--shadow-input);
    background-color: var(--app-orange);
    color: white;
    width: 90%;
}

.reg-form-input::placeholder {
    color: white;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

option {
    font-size: 15px;
}

.button-pet-reg-docs {
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.pet-reg-input-docs {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--app-brown);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: white;
}

.docs-flag-area {
    height: 100px;
    padding-left: 20px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}

.docs-flag {}

.pet-share-form {
    text-align: center;
    font-size: 45px;
}

.pet-owner-block {
    font-weight: 600;
    color: var(--app-dark-green);
}

.list-users-area {
    margin-top: 50px;
}

.list-users-title {
    font-weight: 600;
    color: var(--app-brown);
}

.pet-share-new-user-area {
    margin-top: 30px;
    position: relative;
}

.pet-share-new-user-input {
    width: 100%;
    height: 90px;
    border-radius: 35px;
    border: 4px solid var(--app-brown);
    font-size: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    padding-right: 220px;
}

.pet-share-new-user-button {
    width: 210px;
    height: 90px;
    position: absolute;
    right: 0;
    background-color: var(--app-brown);
    border-radius: 0px 35px 35px 0px;
    color: white;
    font-size: 30px;
}

.list-users-block {
    margin: 15px 0px;
    height: 900px;
    overflow: scroll;
    padding: 0px 15px;
}

.pet-share-user-block {
    margin: 30px 0px;
    width: 100%;
    height: 90px;
    background-color: var(--app-orange);
    color: white;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-sizing: border-box;
}

.pet-share-user-name {
    width: 85%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pet-share-user-delete > img {
    height: 50px;
}

.password-control {
    position: absolute;
    right: 3%;
    display: inline-block;
    height: 100%;
    width: 70px;
    height: 100px;
    visibility: hidden;
}

.password-control > img {
    width: 80%;
}

.input-password {
    padding-right: 100px;
}

.input-password:valid + .password-control {
    visibility: visible;
}

.personal-data-form {
    box-sizing: border-box;
    height: 100px;
    width: 90%;
    padding: 0px 0px 0px 30px;
    font-size: 40px;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    box-shadow: var(--shadow-input-inside);
    background-color: var(--app-beige);
    color: var(--app-brown);
    width: 90%;
}

.personal-data-form::placeholder {
    color: #5E5E5E;
}

.personal-data-form::-webkit-calendar-picker-indicator {
    filter: invert(0);
    padding-right: 30px;
}

/* Слайдер */

.toggle-switch-conteiner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0px 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    -webkit-transition: .1s;
    transition: .1s;
    border: solid 5px white;
}

.slider-settings {
    border-color: var(--app-brown);
}

.slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider-settings:before {
    background-color: var(--app-brown);
}

.settings-acceptance {
    display: flex;
    align-items: center;
    font-size: 35px;
    width: 100%;
    color: var(--app-brown);
}

.settings-acceptance > .toggle-switch-conteiner {
    margin-left: 0px;
}

.reg-form-checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--app-dark-green);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.login-form {
    padding: 30px 0px 30px 0px;
    margin: 0px;
    position: relative;
}

.login-form > input {
    background-color: var(--app-beige);
    color: var(--app-brown);
}

.login-form > input::placeholder {
    color: #5E5E5E;
}

.login-form > input::-webkit-calendar-picker-indicator {
    filter: invert(0);
    padding-right: 30px;
}

.obligatory-input {
    position: absolute;
    color: orangered;
    left: 110px;
    top: 15px;
    font-size: 30px;
    font-weight: 400;
    height: 30px;
    white-space: nowrap;
}

.obligatory-input-explanation {
    color: orangered;
    font-size: 30px;
    text-align: left;
    font-style: italic;
    margin-bottom: 60px;
}

.reg-form-acceptance {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
}

.reg-form-acceptance-p1 {
    display: inline;
    color: white;
}

.reg-form-acceptance-p2 {
    display: inline;
    color: #00FFE0;
    text-decoration: underline;
}

.reg-form-button {
    font-size: 40px;
    background-color: var(--app-orange);
    margin-bottom: 60px;
}

.reg-form-button:disabled {
    background-color: gray;
    color: black;
}

.food-calculation {
    text-align: center;
}

.food-calculation-form {
    padding-top: 40px;
}

.food-calculation-form > .reg-form-input {
    margin-bottom: 30px;
}

.food-form-button {
    margin-top: 10px;
}

.food-calcutation-result-block {
    padding-top: 50px;
}

.food-calcutation-result-block > .reg-form-input {
    margin-bottom: 30px;
}