:root {
    --app-brown: #43210D;
    --app-beige : #FFF7EA;
    --app-orange: #FF995C;
    --app-green: #71CA63;
    --app-dark-green: #17A50B;
    --app-blue: #76C6FF;
    --app-purple: #CA58B1;
    --app-light-grey: #D9D9D9;
    --app-pink: #FFA3C4;
    --app-invalid-input: #FFB0B0;
    --shadow-header: 0px 20px 50px rgba(0, 0, 0, 0.4);
    --shadow-button: 0px 10px 45px rgba(0, 0, 0, 0.6);
    --shadow-card: 0px 10px 30px rgba(0, 0, 0, 0.7);
    --shadow-input: 0px 5px 25px rgba(0, 0, 0, 0.3);
    --shadow-bottom-sheet: 0px -20px 70px rgba(0, 0, 0, 0.6);
    --shadow-input-inside: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
    
}

/* Regular */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../resource/Roboto-Regular.eot');
	src: local('Roboto')
        url('../resource/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../resource/Roboto-Regular.ttf') format('truetype'),
        url('../resource/Roboto-Regular.woff2') format('woff2'),
        url('../resource/Roboto-Regular.svg#robotoregular') format('svg'),
        url('../resource/Roboto-Regular.woff') format('woff');
}

/* Medium */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../resource/Roboto-Medium.eot');
	src: local('Roboto')
        url('../resource/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../resource/Roboto-Medium.ttf') format('truetype'),
        url('../resource/Roboto-Medium.woff2') format('woff2'),
        url('../resource/Roboto-Medium.svg#robotomedium') format('svg'),
        url('../resource/Roboto-Medium.woff') format('woff');

}

/* Bold */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../resource/Roboto-Bold.eot');
	src: local('Roboto')
        url('../resource/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../resource/Roboto-Bold.ttf') format('truetype'),
        url('../resource/Roboto-Bold.woff2') format('woff2'),
        url('../resource/Roboto-Bold.svg#robotobold') format('svg'),
        url('../resource/Roboto-Bold.woff') format('woff');
}

/* Black */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
    src: url('../resource/Roboto-Black.eot');
	src: local('Roboto')
        url('../resource/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../resource/Roboto-Black.ttf') format('truetype'),
        url('../resource/Roboto-Black.woff2') format('woff2'),
        url('../resource/Roboto-Black.svg#robotoblack') format('svg'),
        url('../resource/Roboto-Black.woff') format('woff');
}
 

* {
    font-family: "Roboto";
}

body,
html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


button {
    background: none;
    border: none;
}

.header {
    margin: 0;
    width: 100%;
    padding: 60px 30px 30px 30px;
    box-sizing: border-box;
}

.static-header {
    margin: 0;
    width: 100%;
    padding: 60px 30px 30px 30px;
    box-sizing: border-box;
}

.header-pet-profile {
    height: 600px;
    position: relative;
}

.header-panel {
    position: fixed;
    z-index: 1;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-header);
    background-color: var(--app-beige);
}

.header-content {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.header-account {
    height: 200px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-back {
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
    z-index: 2;
    width: 80px;
    
}

.button-back-pet-profile {
    position: sticky;
    top: 120px;
}

.back {
    height: 70px;
    width: 70px;
}

/*
.region-search {
    width: 60%;
    background: none;
    height: 25%;
    border: 3px solid;
    border-color: #8C5F44;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}


.img-search {
    height: 100%;
}
*/

input:focus {
    outline: none;
}

.input-search {
    padding-left: 15px;
    width: 84%;
    height: 100%;
    background: none;
    border: none;
    font-size: 45px;
    color: var(--app-brown);
}

.input-search:focus {
    border: none;
}

.button-filter {
    margin-left: 25px;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.filter {
    height: 70px;
}

.content {
    margin-top: 160px;
    padding: 80px 80px;
    text-align: center;
}

.content-pdf {
    margin-top: 160px;
    padding: 80px 0px;
}

.static-content {
    padding: 80px 80px;
    text-align: center;
}

.content-without-header {
    padding: 40px 80px;
    text-align: center;
}

.list-cards {
}

.list-card {
    margin-bottom: 40px;
    padding: 0;
}

/*
.pet-card {
    background-color: #FF995C;
    width: 100%;
    height: 300px;
    border-radius: 70px;
    border-color: none;
    display: flex;
    color: white;
    box-shadow: 0px 10px 40px rgba(128, 128, 128, 0.7);
}
*/

.card-image {
    height: 300px;
    width: 300px;
    border-radius: 70px;
    object-fit: cover;
    float: left;
}

.one-line {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.diet-card-description-line {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pet-activity > img {
    height: 30px;
}

.pet-card-text {
    font-size: 30px;
    width: calc(100% - 300px);
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.pet-card-desc-title {}

.pet-card-desc-value {
    text-align: right;
    font-weight: 700;
    width: 100%
}

.card-description {
    width: 100%;
    margin-top: 20px
}

.pet-card-name {
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.button-new-item {
    position: sticky;
    bottom: 50px;
    background: none;
    border: none;
    display: inline;
    width: 100%;
}

.width-button {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 50px;
    background-color: var(--app-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-button);
    color: white;
}

.plus {
    font-size: 60px;
    font-weight: 800;
}

.bottom-sheet-close {
    display: block;
    background: none;
    border: none;
    width: 100%;
}

.bottom-sheet-title {
    text-align: center;
    display: block;
    color: var(--app-brown);
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
}

.reg-form-line {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 60px;
    width: 100%;
    position: relative;
}

.personal-data-form-line {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

label input[type=file]{
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

input[type=email]:invalid {
    background-color: var(--app-invalid-input);
}

.get-photo-block {
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
    background-color: var(--app-light-grey);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-photo-block > img {
    height: 50%;
}

.get-photo-block > #pet-form-uploaded-photo {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;   
}

.pet-reg-name-block {
    margin-left: 8%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-reg-input-name {
    width: 400px;
    height: 70px;
    font-size: 50px;
    border: none;
    border-bottom: 5px solid var(--app-brown);
}

.pet-reg-input-name:focus {
    border-bottom: 5px solid var(--app-orange);
}

.form-emoji {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 10%;
    margin: 10px 30px 10px 20px;
}

.form-emoji-text {
    color: white;
    font-size: 6vw;
    text-align: center;
}

.pet-reg-date {
    
}

.pet-reg-date::placeholder {
    color: white;
    
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 30px;
}

.reg-form-input {
    box-sizing: border-box;
    height: 100px;
    width: 90%;
    padding: 0px 0px 0px 30px;
    font-size: 40px;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    box-shadow: var(--shadow-input);
    background-color: var(--app-orange);
    color: white;
    width: 90%;
}

.reg-form-input::placeholder {
    color: white;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

option {
    font-size: 15px;
}

.button-pet-reg-docs {
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.pet-reg-input-docs {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--app-brown);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: white;
}

.docs-flag-area {
    height: 100px;
    padding-left: 20px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}

.docs-flag {}

.width-button-text {
    font-size: 40px;
    width: 100%;
}

.dark {
    background: rgba(102, 102, 102, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: flex-end;
    justify-content: center;
    display: none;
    z-index: 2;
}

.bottom-sheet {
    box-sizing: border-box;
    padding: 30px 100px 0px 100px;  
    background: white;
    width: 100%;
    border-radius: 100px 100px 0px 0px;
    margin: 0px;
    box-shadow: var(--shadow-bottom-sheet);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 3;
    position: absolute;
}

.pet-reg {
    height: 100%;
    max-height: 1600px;
}

.pet-share {
    height: 100%;
    max-height: 1600px;
}

.dark.open {
    display: flex;
}

.pet-reg.open {
    transform: translateY(0%);
    z-index: 4;
}

.pet-share.open {
    transform: translateY(0%);
}

.change-key-panel {
    height: 100%;
    max-height: 900px;
}

.change-key-panel.open {
    transform: translateY(0%);
}

.sign-in-content {
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    padding-left: 15%;
    padding-right: 15%;
    overflow: none;
    box-sizing: border-box;
}

.sign-in-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    overflow: hidden;
    outline: none;
}

.sign-in-logo > img {
    width: 80%;
}

.sign-in-form {
    margin-bottom: 30px;
}

.sign-in-form-item {
    width: 100%;
    height: 100px;
    font-size: 45px;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: var(--shadow-input);
    color: var(--app-brown);
}

.sign-in-buttons {
    margin-bottom: 100px;
    box-sizing: border-box;
}

.sign-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--app-orange);
    border-radius: 75px;
    font-size: 45px;
    color: white;
    margin-bottom: 50px;
    box-shadow: var(--shadow-button);
}

.header-back-title {
    height: 80px;
    padding-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.header-log-in {
    padding-top: 90px;
}

.title {
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    color: var(--app-brown);
}

.title-center {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.login-form > input {
    background-color: var(--app-beige);
    color: var(--app-brown);
}

.login-form > input::placeholder {
    background-color: var(--app-beige);
    color: #5E5E5E;
}

.login-form > input::-webkit-calendar-picker-indicator {
    filter: invert(0);
    padding-right: 30px;
}

.personal-data-form {
    box-sizing: border-box;
    height: 100px;
    width: 90%;
    padding: 0px 0px 0px 30px;
    font-size: 40px;
    font-weight: 300;
    border-radius: 30px;
    border: 0;
    box-shadow: var(--shadow-input-inside);
    background-color: var(--app-orange);
    color: white;
    width: 90%;
}

.personal-data-form {
    background-color: var(--app-beige);
    color: var(--app-brown);
}

.personal-data-form::placeholder {
    color: #5E5E5E;
}

.personal-data-form::-webkit-calendar-picker-indicator {
    filter: invert(0);
    padding-right: 30px;
}

.toggle-switch-conteiner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0px 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    -webkit-transition: .1s;
    transition: .1s;
    border: solid 5px white;
}

.slider-settings {
    border-color: var(--app-brown);
}

.slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider-settings:before {
    background-color: var(--app-brown);
}

.reg-form-checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--app-dark-green);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.reg-form-acceptance {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
}

.reg-form-acceptance-p1 {
    display: inline;
    color: white;
}

.reg-form-acceptance-p2 {
    display: inline;
    color: #00FFE0;
    text-decoration: underline;
}

.reg-form-button {
    font-size: 40px;
    background-color: var(--app-orange);
    margin-bottom: 60px;
}

.title-left {
    width: 70%;
}

.header-account-buttons {
    width: 30%;
}

.header-account-button {
    margin: 0px 0px 0px 50px;
}

.header-account-button > img {
    height: 60px;
}

.content-account {
    padding: 0px 80px;
    text-align: center;
    margin-bottom: 30px;
}

.account-card {
    text-align: left;
}

.account-card > img {
    visibility: hidden;
    display: none;
}

.card.account-card {
    background-color: var(--app-brown);
    
}

.account-info {
    height: 300px;
    display: inline-block;
    margin-left: 50px;
    color: white;
    max-width: 400px;
    padding-top: 50px;
    
}

.account-info-login {
    font-size: 45px;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#account-info-name {
    
    display: block;
    font-size: 30px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    box-sizing: border-box;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.account-content-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 30px 0px 15px 0px;
}

.account-content-card-title {
    color: var(--app-brown);
    font-size: 50px;
    font-weight: 800;
}

.account-content-card-more-info {
    color: var(--app-orange);
    font-size: 32px;
    text-decoration: underline;
}

.card {
    background-color: var(--app-orange);
    width: 100%;
    height: 300px;
    border-radius: 70px;
    border-color: none;
    display: flex;;
    color: white;
    box-shadow: var(--shadow-card);
}

.food-card {
    background-color: var(--app-orange);
    width: 100%;
    min-height: 250px;
    border-radius: 70px;
    border-color: none;
    display: flex;;
    color: white;
    box-shadow: var(--shadow-card);
    position: relative;
}

.food-card-text {
    width: 100%;
    padding: 30px 80px;
    text-align: left;
}

.food-card-title {
    font-size: 45px;
    font-weight: 600;
    
}

.card-title {
    height: 100px;
    width: 100%;
    text-align: left;
    display: flex;
    font-size: 45px;
    font-weight: 600;
    box-sizing: border-box;
    overflow: hidden;
}

.advice-card-text {
    padding: 30px 50px 30px 40px;
    width: calc(100% - 300px);
    box-sizing: border-box;
}

.advice-card-description {
    display: block;
    height: 170px;
    width: 100%;
    text-align: left;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    padding-right: 10px;
    
    box-sizing: border-box;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow: hidden;
}

.advice-card-description:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, var(--app-orange) 50%);
    border-radius: 0px 0px 30px 0px;
}


.account-content-card-container {
    margin: 30px 0px 60px 0px;
    position: relative;
}

.account-pet-list-arrow-img {
    width: 30px;
}

.account-pet-list-arrow {
    position: absolute;
    top: 200px;
}

.account-pet-list-arrow-left {
    left: -60px;
}

.account-pet-list-arrow-right {
    right: -60px;
}

.width-account-block-link {
    display: block;
    margin: 40px 0px;
    width: 100%;
}

.width-account-block {
    width: 100%;
    height: 125px;
    background-color: var(--app-orange);
    border-radius: 50px;
    text-align: left;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    box-shadow: var(--shadow-input);
    display: flex;
    align-items: center;
    position: relative;
}

.width-account-block-brown {
    background-color: var(--app-brown);
}

.width-account-block-img {
    height: 70px;
    margin-right: 30px;
    float: left;
}

.width-account-block-text {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 31px;
    font-weight: 600;
    color: white;
}

.width-account-block-arrow {
    position: absolute;
    right: 30px;
    height: 40px;
}

#pet-profile-photo-container {
    display: block;
    width: 100%;
    position: fixed;
    z-index: -1;
    box-sizing: border-box;
}

#pet-profile-photo {
    width: 100%;
    height: 900px;
    object-fit: cover;    
}

#pet-profile-panel {
    color: var(--app-brown);
    width: 100%;
    min-height: 1100px;
    height: 100%;
    background-color: var(--app-beige);
    position: absolute;
    top: 600px;
    border-radius: 150px 150px 0px 0px; 
    box-sizing: border-box;
    box-shadow: var(--shadow-bottom-sheet);
    padding: 90px 120px 0px 120px;
}

#pet-profile-panel-header {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
}

#pet-name {
    width: calc(100% - 180px);
    font-size: 60px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pet-profile-panel-header-buttons {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pet-profile-panel-header-button {
    
}

.pet-profile-panel-header-button-img, .diet-info-header-button-img {
    height: 50px;
}


.pet-profile-panel-header-line {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pet-profile-info {
    font-size: 40px;
}

.pet-profile-panel-header-line > #pet-breed {
    margin-top: 20px;
}

.pet-profile-attributes-conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pet-profile-attribute-conteiner {
    width: 225px;
    height: 225px;
    border-radius: 60px;
    box-shadow: var(--shadow-input);
    color: white;
    background-color: var(--app-orange);
}

#pet-attribute-block-weight {
    background-color: var(--app-purple);
}

#pet-attribute-block-gender {
    background-color: var(--app-green);
}

#pet-attribute-block-age {
    background-color: var(--app-blue);
}

.pet-profile-attribute-value-area {
    width: 100%;
    height: 65%;
    font-size: 90px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}

.pet-profile-attribute-name-area {
    text-align: center;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    font-weight: 600;
}

.pet-profile-attribute-value-area > img {
    height: 70%;
}

.pet-profile-attribute-links > .pet-profile-attribute-value-area {
    height: 55%;
}

.pet-profile-attribute-links > .pet-profile-attribute-name-area {
    height: 45%;
    align-items: center;
}

.to-diet-info {
    width: 100%;
}

.diet-card {
    height: 380px;
    position: relative;
}

.diet-card-text {
    width: 100%;
    height: 280px;
    padding: 35px 50px 10px 50px;
    box-sizing: border-box;
    color: white;
}

.diet-card-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.diet-card-description {
    font-size: 34px;
}

.diet-card-dose-area {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: var(--app-brown);
    border-radius: 0px 0px 70px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.diet-info {
    height: 100%;
    max-height: 1700px;    
}

.diet-info.open {
    transform: translateY(0%);
    z-index: 4;
}

.choosing-food {
    width: 100%;
}

.subtitle {
    font-size: 42px;
    font-weight: 600;
    color: var(--app-brown);
}

.food-card-desprition-line {
    width: 100%;
    font-size: 30px;
    margin: 15px 0px;
}

.food-special-flag {
    width: 100px;
    height: 100px;
    background-color: var(--app-dark-green);
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 70px 00px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-special-flag > img {
    height: 70%;
}

.food-info-block {
    text-align: left;
    margin-bottom: 50px;
}

.food-info-text {
    margin-top: 30px;
    font-size: 42px;
    color: var(--app-brown);
}

.food-info-line {
    margin: 10px 0px;
}

.food-calculation-form {
    padding-top: 40px;
}

.food-calculation-form > .reg-form-input {
    margin-bottom: 30px;
}

.food-form-button {
    margin-top: 10px;
}

.food-calcutation-result-block {
    padding-top: 50px;
}

.food-calcutation-result-block > .reg-form-input {
    margin-bottom: 30px;
}

.pet-share-form {
    text-align: center;
    font-size: 45px;
}

.pet-owner-block {
    font-weight: 600;
    color: var(--app-dark-green);
}

.list-users-area {
    margin-top: 50px;
}

.list-users-title {
    font-weight: 600;
    color: var(--app-brown);
}

.pet-share-new-user-area {
    margin-top: 30px;
    position: relative;
}

.pet-share-new-user-input {
    width: 100%;
    height: 90px;
    border-radius: 35px;
    border: 4px solid var(--app-brown);
    font-size: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    padding-right: 220px;
}

.pet-share-new-user-button {
    width: 210px;
    height: 90px;
    position: absolute;
    right: 0;
    background-color: var(--app-brown);
    border-radius: 0px 35px 35px 0px;
    color: white;
    font-size: 30px;
}

.list-users-block {
    margin: 15px 0px;
    height: 900px;
    overflow: scroll;
    padding: 0px 15px;
}

.pet-share-user-block {
    margin: 30px 0px;
    width: 100%;
    height: 90px;
    background-color: var(--app-orange);
    color: white;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-sizing: border-box;
}

.pet-share-user-name {
    width: 85%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pet-share-user-delete > img {
    height: 50px;
}

.diet-info-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#diet-info-title {
    font-size: 60px;
    text-align: left;
    font-weight: 600;
    width: 80%;
    max-height: 300px;
    overflow: scroll;
}

.diet-info-header-buttons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.diet-grid-description {
    margin: 50px 0px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-areas: 
        "food-card pet-data"
        "food-card daily-size";
    grid-template-columns: 50% 1fr;
    grid-template-rows: 220px 1fr;
    grid-gap: 5%;
}

.diet-info-food-card {
    grid-area: food-card;
}

.diet-info-pet-data {
    grid-area: pet-data;
}

.diet-info-daily-size {
    grid-area: daily-size;
}

.diet-info-card {
    width: 100%;
    height: 100%;
    border-radius: 55px;
    border-color: none;
    color: white;
    box-shadow: var(--shadow-input);
    position: relative;
}

.diet-info-food-card {
    background-color: var(--app-orange);
}

.diet-info-food-flag {
    width: 70px;
    height: 70px;
    background-color: var(--app-dark-green);
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 55px 00px 35px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.diet-info-food-flag > img {
    height: 70%;
}

.diet-info-pet-data {
    background-color: var(--app-blue);
}

.diet-info-daily-size {
    background-color: var(--app-pink);
}

.diet-info-card-title {
    width: 100%;
    height: 60px;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diet-info-card-description {
    height: calc(100% - 60px);
    width: 100%;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
}

.diet-info-food-card-title {
    margin-bottom: 30px;
}

.diet-info-food-card-title-name {
    font-size: 40px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.diet-info-food-card-title-brand {
    font-size: 30px;
}

.diet-info-card-description-lines {
    text-align: left;
    font-size: 35px;
}

.diet-info-card-description-line {
    margin: 10px 0px;
}

.diet-info-card-description-line > img {
    height: 35px;
}

.diet-info-daily-size-value {
    font-size: 50px;
    font-weight: 800;
}

.diet-info-table-diet {
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    padding-left: 40px;
}

.table-portions-block {
    margin: 10px 0px 50px 0px;
    width: 100%;
    position: relative;
    height: 700px;
    overflow: scroll;
}

.table-vertical-line {
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: var(--app-brown);

}

.table-vertical-line-first {
    left: 25%;    
}

.table-vertical-line-second {
    left: 60%;    
}

.table-vertical-line-third {
    left: 75%;    
}

.table-portions {
    width: 100%;
}

.table-title-line {
    width: 100%;
    height: 90px;
    font-size: 40px;
    font-weight: 700;
}

.table-time-title {
    width: 25%;
}

.table-portion-title {
    width: 35%;
}

.table-check-title {
    width: 15%;
}

.table-buttons-title {
    width: 25%;
}

.table-line > td {
    height: 100px;
    background-color: var(--app-beige);
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    
}

.table-value {

}

.table-value-input {
    font-size: 45px;
    color: var(--app-brown);
    width: 80%;
    height: 70px;
    background-color: rgba(0,0,0,0);
    border: none;
    text-align: center;
}


.table-value-input::placeholder {
    color: var(--app-brown);
}

.table-value-input-size
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.table-value-input-size::-ms-clear {
    display: none;
    
}

.table-value-size-label
  {
    font-size: 40px;
    display: inline-block;
      width: 100%;
  }

.table-input-size-measurement
  {
      position: relative;
      
  }

.table-input-size-measurement::before
  {
      position: relative;
    display: inline-block;
    content: attr(data-val);
    white-space: pre;
      width: 90%;
  }

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.table-check > input {
    width: 40px;
    height: 40px;
}

.table-value-size::after {
    content: 'кг';
}

.table-button-block {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-button-block > button {
    width: 45%;
    height: 100%;
}

.table-button-block > button > img {
    height: 45%;
}

.button-bottom-sheet {
    margin-bottom: 60px;
}

.settings-list-buttons {
    width: 100%;
}

.settings-list-block {
    margin-bottom: 40px;
    width: 100%;
}

.settings-list-button {
    width: 100%;
    min-height: 100px;
    background-color: var(--app-brown);
    border-radius: 30px;
    box-shadow: var(--shadow-button);
    color: white;
    font-size: 43px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}

.settings-list-button-arrow {
    position: absolute;
    right: 5%;
    height: 40px;
}

.secutiry-button {
    text-align: center;
    justify-content: center;
    padding: 0px;
}

.password-control {
    position: absolute;
    right: 3%;
    display: inline-block;
    height: 100%;
    width: 70px;
    visibility: hidden;
}

.password-control > img {
    width: 80%;
}

.input-password {
    padding-right: 100px;
}

.input-password:valid + .password-control {
    visibility: visible;
}

.account-pet-list-container {
    width: 100%;
    height: 300px;
    border: 2px solid var(--app-brown);
    border-radius: 60px;
    /*box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);*/
    padding: 25px 20px 20px 20px;
    box-sizing: border-box;
    display: flex;
    overflow-x: scroll;
}

.account-pet-list-container::-webkit-scrollbar {
  display: none;
}

.card-mini {
    width: 230px;
    height: 100%;
    position: relative;
    margin-right: 10px;
} 

.card-mini-img {
    width: 200px;
    height: 200px;
    background-color: var(--app-brown);
    border-radius: 60px;
    margin: 0px 15px;
    box-shadow: var(--shadow-input);
}

.card-mini-img > img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}

.card-mini-title {
    color: var(--app-brown);
    font-size: 30px;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0px;
}

.mini-new-pet {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 25px;
}

.mini-button {
    height: 100px;
    width: 100px;
    background-color: var(--app-brown);
    color: white;
    border-radius: 30px;
    box-shadow: var(--shadow-input);
}

.embed-pdf {
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.settings-acceptance {
    display: flex;
    align-items: center;
    font-size: 35px;
    width: 100%;
    color: var(--app-brown);
}

.settings-acceptance > .toggle-switch-conteiner {
    margin-left: 0px;
}

.app-settings-list {
    display: flex;
}