:root {
    --app-brown: #43210D;
    --app-beige : #FFF7EA;
    --app-orange: #FF995C;
    --app-green: #71CA63;
    --app-dark-green: #17A50B;
    --app-blue: #76C6FF;
    --app-purple: #CA58B1;
    --app-light-grey: #D9D9D9;
    --app-pink: #FFA3C4;
    --app-invalid-input: #FFB0B0;
    --shadow-header: 0px 20px 50px rgba(0, 0, 0, 0.4);
    --shadow-button: 0px 10px 45px rgba(0, 0, 0, 0.6);
    --shadow-card: 0px 10px 30px rgba(0, 0, 0, 0.7);
    --shadow-input: 0px 5px 25px rgba(0, 0, 0, 0.3);
    --shadow-bottom-sheet: 0px -20px 70px rgba(0, 0, 0, 0.6);
    --shadow-input-inside: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
    
}

/* Regular */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../resource/fonts/Roboto-Regular.eot');
	src:
        url('../resource/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../resource/fonts/Roboto-Regular.ttf') format('truetype'),
        url('../resource/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../resource/fonts/Roboto-Regular.svg#robotoregular') format('svg'),
        url('../resource/fonts/Roboto-Regular.woff') format('woff');
}

/* Medium */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../resource/fonts/fonts/Roboto-Medium.eot');
	src:
        url('../resource/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../resource/fonts/Roboto-Medium.ttf') format('truetype'),
        url('../resource/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../resource/fonts/Roboto-Medium.woff') format('woff');

}

/* Bold */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../resource/fonts/Roboto-Bold.eot');
	src:
        url('../resource/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../resource/fonts/Roboto-Bold.ttf') format('truetype'),
        url('../resource/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../resource/fonts/Roboto-Bold.woff') format('woff');
}

/* Black */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
    src: url('../resource/fonts/Roboto-Black.eot');
	src:
        url('../resource/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../resource/fonts/Roboto-Black.ttf') format('truetype'),
        url('../resource/fonts/Roboto-Black.woff2') format('woff2'),
        url('../resource/fonts/Roboto-Black.woff') format('woff');
}
 

* {
    font-family: 'Roboto';
}

body,
html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


button {
    background: none;
    border: none;
}

.header {
    margin: 0;
    width: 100%;
    padding: 60px 30px 30px 30px;
    box-sizing: border-box;
}

.static-header {
    margin: 0;
    width: 100%;
    padding: 60px 30px 30px 30px;
    box-sizing: border-box;
}

.header-panel {
    position: fixed;
    z-index: 1;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-header);
    background-color: var(--app-beige);
}

.header-content {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.header-account {
    height: 200px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-back {
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
    z-index: 2;
    width: 80px;
    
}

.back {
    height: 70px;
    width: 70px;
}

/*
.region-search {
    width: 60%;
    background: none;
    height: 25%;
    border: 3px solid;
    border-color: #8C5F44;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}


.img-search {
    height: 100%;
}
*/

.content {
    margin-top: 160px;
    padding: 80px 80px;
    text-align: center;
}

.content-pdf {
    margin-top: 160px;
    padding: 80px 0px;
}

.static-content {
    padding: 80px 80px;
    text-align: center;
}

.content-without-header {
    padding: 40px 80px;
    text-align: center;
}

.list-cards {
}

.list-card {
    margin-bottom: 40px;
    padding: 0;
}

/*
.pet-card {
    background-color: #FF995C;
    width: 100%;
    height: 300px;
    border-radius: 70px;
    border-color: none;
    display: flex;
    color: white;
    box-shadow: 0px 10px 40px rgba(128, 128, 128, 0.7);
}
*/

.card-image {
    height: 300px;
    width: 300px;
    border-radius: 70px;
    object-fit: cover;
    float: left;
}

.one-line {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pet-activity > img {
    height: 30px;
}

.pet-card-text {
    font-size: 30px;
    width: calc(100% - 300px);
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.pet-card-desc-title {}

.pet-card-desc-value {
    text-align: right;
    font-weight: 700;
    width: 100%
}

.card-description {
    width: 100%;
    margin-top: 20px
}

.pet-card-name {
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.button-new-item {
    position: sticky;
    bottom: 50px;
    background: none;
    border: none;
    display: inline;
    width: 100%;
}

.width-button {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 50px;
    background-color: var(--app-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-button);
    color: white;
}

.plus {
    font-size: 60px;
    font-weight: 800;
}

.width-button-text {
    font-size: 40px;
    width: 100%;
}

.sign-in-content {
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    padding-left: 15%;
    padding-right: 15%;
    overflow: none;
    box-sizing: border-box;
}

.sign-in-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    overflow: hidden;
    outline: none;
}

.sign-in-logo > img {
    width: 80%;
}

.header-back-title {
    height: 80px;
    padding-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.header-log-in {
    padding-top: 90px;
}

.title {
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    color: var(--app-brown);
}

.title-center {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.title-left {
    width: 70%;
}

.header-account-buttons {
    width: 30%;
}

.header-account-button {
    margin: 0px 0px 0px 50px;
}

.header-account-button > img {
    height: 60px;
}

.content-account {
    padding: 0px 80px;
    text-align: center;
    margin-bottom: 30px;
}

.account-card {
    text-align: left;
}

.account-card > img {
    visibility: hidden;
    display: none;
}

.card.account-card {
    background-color: var(--app-brown);
    
}

.account-info {
    height: 300px;
    display: inline-block;
    margin-left: 50px;
    color: white;
    max-width: 400px;
    padding-top: 50px;
    
}

.account-info-login {
    font-size: 45px;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#account-info-name {
    
    display: block;
    font-size: 30px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    box-sizing: border-box;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.account-content-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 30px 0px 15px 0px;
}

.account-content-card-title {
    color: var(--app-brown);
    font-size: 50px;
    font-weight: 800;
}

.account-content-card-more-info {
    color: var(--app-orange);
    font-size: 32px;
    text-decoration: underline;
}

.card {
    background-color: var(--app-orange);
    width: 100%;
    height: 300px;
    border-radius: 70px;
    border-color: none;
    display: flex;;
    color: white;
    box-shadow: var(--shadow-card);
}

.food-card {
    background-color: var(--app-orange);
    width: 100%;
    min-height: 250px;
    border-radius: 70px;
    border-color: none;
    display: flex;
    color: white;
    box-shadow: var(--shadow-card);
    position: relative;
}

.food-card-text {
    width: 100%;
    padding: 30px 80px;
    text-align: left;
    box-sizing: border-box;
}

.food-card-title {
    font-size: 45px;
    font-weight: 600;
    
}

.card-title {
    height: 100px;
    width: 100%;
    text-align: left;
    display: flex;
    font-size: 45px;
    font-weight: 600;
    box-sizing: border-box;
    overflow: hidden;
}

.advice-card-text {
    padding: 30px 50px 30px 40px;
    width: calc(100% - 300px);
    box-sizing: border-box;
}

.advice-card-description {
    display: block;
    height: 170px;
    width: 100%;
    text-align: left;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    padding-right: 10px;
    
    box-sizing: border-box;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow: hidden;
}

.advice-card-description:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, var(--app-orange) 50%);
    border-radius: 0px 0px 30px 0px;
}


.account-content-card-container {
    margin: 30px 0px 60px 0px;
    position: relative;
}

.account-pet-list-arrow-img {
    width: 30px;
}

.account-pet-list-arrow {
    position: absolute;
    top: 200px;
}

.account-pet-list-arrow-left {
    left: -60px;
}

.account-pet-list-arrow-right {
    right: -60px;
}

.width-account-block-link {
    display: block;
    margin: 40px 0px;
    width: 100%;
}

.width-account-block {
    width: 100%;
    height: 125px;
    background-color: var(--app-orange);
    border-radius: 50px;
    text-align: left;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    box-shadow: var(--shadow-input);
    display: flex;
    align-items: center;
    position: relative;
}

.width-account-block-brown {
    background-color: var(--app-brown);
}

.width-account-block-img {
    height: 70px;
    margin-right: 30px;
    float: left;
}

.width-account-block-text {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 31px;
    font-weight: 600;
    color: white;
}

.width-account-block-arrow {
    position: absolute;
    right: 30px;
    height: 40px;
}

.choosing-food {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.subtitle {
    font-size: 42px;
    font-weight: 600;
    color: var(--app-brown);
}

.food-card-desprition-line {
    width: 100%;
    font-size: 30px;
    margin: 15px 0px;
    
}

.food-special-flag {
    width: 100px;
    height: 100px;
    background-color: var(--app-dark-green);
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 70px 00px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-special-flag > img {
    height: 70%;
}

.food-info-block {
    text-align: left;
    margin-bottom: 50px;
    width: 100%;
    height: 480px;
    position: relative;
    overflow: scroll;
}

.food-info-text {
    position: absolute;
    font-size: 40px;
    margin-top: 30px;
    width: 820px;
    color: var(--app-brown);
}

.food-info-line {
    margin: 10px 0px;
    
}

.settings-list-buttons {
    width: 100%;
}

.settings-list-block {
    margin-bottom: 40px;
    width: 100%;
}

.settings-list-button {
    width: 100%;
    min-height: 100px;
    background-color: var(--app-brown);
    border-radius: 30px;
    box-shadow: var(--shadow-button);
    color: white;
    font-size: 43px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}

.settings-list-button-arrow {
    position: absolute;
    right: 5%;
    height: 40px;
}

.secutiry-button {
    text-align: center;
    justify-content: center;
    padding: 0px;
}

.account-pet-list-container {
    width: 100%;
    height: 300px;
    border: 2px solid var(--app-brown);
    border-radius: 60px;
    /*box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);*/
    padding: 25px 20px 20px 20px;
    box-sizing: border-box;
    overflow-x: scroll;
    display: flex;
}

.account-pet-list {
    display: flex;
}

.account-pet-list-container::-webkit-scrollbar {
  display: none;
}

.card-mini {
    width: 230px;
    height: 100%;
    position: relative;
    margin-right: 10px;
} 

.card-mini-img {
    width: 200px;
    height: 200px;
    background-color: var(--app-brown);
    border-radius: 60px;
    margin: 0px 15px;
    box-shadow: var(--shadow-input);
}

.card-mini-img > img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}

.card-mini-title {
    color: var(--app-brown);
    font-size: 30px;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0px;
}

.mini-new-pet {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 0px;
    margin-right: 10px;
}

.mini-button {
    height: 200px;
    width: 200px;
    background-color: var(--app-brown);
    color: white;
    border-radius: 60px;
    box-shadow: var(--shadow-input);
}

.embed-pdf {
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.app-settings-list {
    display: flex;
}